.view-more {
	float: 'right';
	text-decoration: 'underline';
}
.test {
	font-size: 8rem;
}
.my-swal-font-size {
	font-size: 5rem !important;
	color: red;
}
.my-swal-icon-size {
	width: 50px;
	height: 50px;
}
.my-swal-border-radius {
	border-radius: 20px !important;
}
.footerContentt {
	display: flex;
    margin-bottom: 2rem;
    justify-content: center;
}